# 默认忽略的文件
/shelf/

# 忽略文件:
D:\PyCharm\PyTorch\1_认识PyTorch\mnist_data
D:\PyCharm\PyTorch\2_PyTorch基础\mnist_data
D:\PyCharm\PyTorch\3_应用项目\2_情感分类\aclImdb_v1
D:\PyCharm\PyTorch\4_土堆torch学习\logs

/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
